## 0.1 Imports

In [35]:
import warnings
import pickle
import s3fs

import pandas     as pd
import numpy      as np
#import seaborn    as sns
import umap.umap_ as umap

from sklearn               import metrics as m
from sklearn               import preprocessing as pp
from sklearn               import ensemble as en
from sklearn               import mixture as mx
from sqlalchemy            import create_engine, text
from io import StringIO
import boto3

warnings.filterwarnings( 'ignore' )

## 0.3 Load Dataset

In [36]:
key_id='AKIAXYKJRQI3RFYQOHNA'
secret_access_key='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'

# Substitua 'seu_access_key' e 'sua_secret_key' pelas suas credenciais do AWS IAM
s3 = boto3.client('s3', aws_access_key_id=key_id, aws_secret_access_key=secret_access_key)

# Substitua 'seu_bucket' pelo nome do seu bucket e 'seu_arquivo.txt' pelo nome do seu arquivo
nome_bucket = 'insiders-dataset-ian'
nome_arquivo = 'Ecommerce.csv'

# Lê o arquivo do S3
try:
    response = s3.get_object(Bucket=nome_bucket, Key=nome_arquivo)
    conteudo_arquivo = response['Body'].read().decode('iso-8859-1')
    print(f"Funcionou")
except Exception as e:
    print(f"Erro ao ler o arquivo: {e}")

Funcionou

In [37]:
# Cria um objeto StringIO a partir do conteúdo do arquivo
arquivo_like_obj = StringIO(conteudo_arquivo)

# Lê o CSV no DataFrame
df_raw = pd.read_csv(arquivo_like_obj)

#drop extra column
df_raw = df_raw.drop(columns=['Unnamed: 8'],axis=1)
df_raw.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,29-Nov-16,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,29-Nov-16,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,29-Nov-16,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,29-Nov-16,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,29-Nov-16,3.39,17850.0,United Kingdom

# <font color = "red"> 1.0 Descrição dos dados </font>

In [38]:
df1 = df_raw.copy()

## 1.1 Rename Columns

In [39]:
cols_new = ['invoice_no','stock_code','description','quantity','invoice_date','unit_price','customer_id','country']
df1.columns = cols_new

## 1.5 Replace NA

In [40]:
#Separando o que tem NA do que não tem NA
df_missing = df1.loc[df1['customer_id'].isna(),:] #Faltando customer
df_not_missing = df1.loc[~df1['customer_id'].isna(),:]

In [41]:
#Vamos ver se esses dados faltando não podem ser opr erro do sistema, buscando o invoice no nos dados não faltando e tentando dar match com os faltantes
missing_invoice = df_missing['invoice_no'].drop_duplicates().tolist()
#Não tem ninguém

In [42]:
df_ni_invoice = pd.DataFrame(df_missing['invoice_no'].drop_duplicates())
df_ni_invoice['customer_id'] = np.arange(19000,19000+len(df_ni_invoice),1)

#fazendo um merge com o dataframe original
df1 = pd.merge(df1,df_ni_invoice,on='invoice_no',how='left')


#assim eu tenho duas colunas e preciso que cada as mesmas juntem - coascesce
df1['customer_id'] = df1['customer_id_x'].combine_first(df1['customer_id_y'])
df1 = df1.drop(columns=['customer_id_x','customer_id_y'],axis=1)

## 1.6 Change dtypes

In [43]:
#invoice date
df1['invoice_date'] = pd.to_datetime(df1['invoice_date'],format='%d-%b-%y')

#customer_id
df1['customer_id'] = df1['customer_id'].astype('int64')

# <font color = "red"> 2.0 Filtragem de Variáveis </font>
Filtragem de Variáveis realizada antes da Criação de Features pois as Features são em sua maioria cálculos e com isso, as sujeiras do dataset podem enviesar os resultados

In [44]:
df2 = df1.copy()

## Categorical Attributes

In [45]:
#stock_code - tirando aqueles que são apenas letras
df2 = df2[~df2['stock_code'].isin(['POST', 'D', 'DOT', 'M', 'S', 'AMAZONFEE', 'm', 'DCGSSBOY',
       'DCGSSGIRL', 'PADS', 'B', 'CRUK'])]

#description - Não vamos usar por enquanto, pode não ser importante
df2 = df2.drop(columns=['description'], axis=1)

#country
df2 = df2[~df2['country'].isin(['European Community', 'Unspecified'])]

## Numerical Attributes

In [46]:
#unit_price - tirando os valores igual a 0 ou muito próximo, pois são produtos que podem ser brindes ou valores muito irrelevantes que não vão nos ajudar a escolher os melhores customers
df2 = df2.loc[df2['unit_price'] >= 0.04,:]

#bad user
df2 = df2.loc[~df2['customer_id'].isin([16446]),:]

#quantity - Dividindo o dataset entre valores de compra e valores de desconto, podendo ser então cancelamentos ou devoluções
df2_returns = df2.loc[(df2['quantity'] < 0),:]  #devoluções
df2_purchase = df2.loc[(df2['quantity'] > 0),:]  #compras

# <font color = "red"> 3.0 Feature Engeneering </font>

In [47]:
df3 = df2.copy()

## 3.1 Feature Creation

In [48]:
# Tabela de Referência
df_ref = df3.drop(['invoice_no','stock_code','quantity','invoice_date','unit_price','country'],axis=1).drop_duplicates(ignore_index=True)

### 3.1.1 Gross Revenue

In [49]:
#Gross Revenue - Faturamento Bruto - qtde * preço
df2_purchase['gross_revenue'] = df2_purchase['quantity'] * df2_purchase['unit_price']

#Monetary
df_monetary = df2_purchase.loc[:,['customer_id','gross_revenue']].groupby('customer_id').sum().reset_index()
df_ref = pd.merge(df_ref, df_monetary, on='customer_id',how='left')
df_ref.isna().sum()

customer_id       0
gross_revenue    91
dtype: int64

### 3.1.2 Recency - Tempo desde a última compra

In [50]:
#Recency
df_recency = df2_purchase.loc[:,['customer_id','invoice_date']].groupby('customer_id').max().reset_index()
df_recency['recency_days'] = (df2_purchase['invoice_date'].max() - df_recency['invoice_date']).dt.days #vetoriza a série para aplicar o day
df_recency = df_recency[['customer_id','recency_days']].copy()
df_ref = pd.merge(df_ref, df_recency, on='customer_id',how='left')
df_ref.isna().sum()

customer_id       0
gross_revenue    91
recency_days     91
dtype: int64

### 3.1.5 Numbers of Unique Products purchased

In [51]:
df_freq = df2_purchase.loc[:,['customer_id','stock_code']].groupby('customer_id').count().reset_index().rename(columns={'stock_code' : 'qtde_products'})
df_ref = pd.merge(df_ref, df_freq,on='customer_id',how='left')
df_ref.isna().sum()

customer_id       0
gross_revenue    91
recency_days     91
qtde_products    91
dtype: int64

### 3.1.8 Frequency Purchase

In [52]:
df_aux = (df2_purchase.loc[:,['customer_id','invoice_no','invoice_date']].drop_duplicates()
                                                                         .groupby('customer_id')
                                                                         .agg(max_ = ('invoice_date','max'),
                                                                              min_ = ('invoice_date','min'),
                                                                              compras_ = ('invoice_no','nunique'),
                                                                              days_ = ('invoice_date', lambda x: ((x.max() - x.min() ).days)+1))).reset_index()

#Frequency per client
df_aux['frequency'] = df_aux.loc[:,['compras_','days_']].apply(lambda x: x['compras_'] / x['days_'] if x['days_'] != 0 else 0,axis=1)
df_ref = pd.merge(df_ref, df_aux.loc[:,['customer_id','frequency']], on='customer_id',how='left')
df_ref.isna().sum()

customer_id       0
gross_revenue    91
recency_days     91
qtde_products    91
frequency        91
dtype: int64

### 3.1.9 Quantity of Returns - Devoluções

In [53]:
df_returns = df2_returns.loc[:,['customer_id','quantity']].groupby('customer_id').sum().reset_index().rename(columns={'quantity' : 'qtde_returns'})
df_returns['qtde_returns'] = df_returns['qtde_returns']*(-1)
df_returns.head()
df_ref = pd.merge(df_ref, df_returns, on='customer_id',how='left')
df_ref.loc[df_ref['qtde_returns'].isna(),'qtde_returns'] = 0 #Filtra apenas pelas colunas que tem na nessa coluna e já atribui o zero
df_ref.isna().sum()

customer_id       0
gross_revenue    91
recency_days     91
qtde_products    91
frequency        91
qtde_returns      0
dtype: int64

In [54]:
df_aux = df2_purchase.loc[:,['customer_id','invoice_no','invoice_date']].drop_duplicates().sort_values(['customer_id','invoice_no','invoice_date'],ascending=[True,True,True])
df_aux['next_customer_id'] = df_aux['customer_id'].shift() #Cria uma coluna deslocada, com se fossem os mesmos dados, uma linhas para baixo
df_aux['previous_date'] = df_aux['invoice_date'].shift()


df_aux['avg_recency_days'] = df_aux.apply(lambda x: (x['invoice_date'] - x['previous_date']).days if x['customer_id'] == x['next_customer_id'] else np.nan, axis=1)
#df_aux.loc[df_aux['customer_id'] == 17850,:]
df_aux_calc = df_aux.drop(['invoice_date','next_customer_id','previous_date'],axis=1).dropna()
tempo_total_entre_compras = df_aux_calc.loc[:,['customer_id','avg_recency_days']].groupby('customer_id').mean().reset_index()
#df_aux2 = pd.merge(total_de_compras,tempo_total_entre_compras,on='customer_id',how='left').reset_index()
#df_aux2['avg_recency_days'] = round(df_aux2['time_between_purshases']/df_aux2['invoice_no'],2)
df_ref = pd.merge(df_ref, tempo_total_entre_compras, on='customer_id',how='left')
df_ref.isna().sum()

customer_id            0
gross_revenue         91
recency_days          91
qtde_products         91
frequency             91
qtde_returns           0
avg_recency_days    2962
dtype: int64

# <font color = "red"> 4.0 EDA (Exploratory Data Analysis) </font>

In [55]:
df4 = df_ref.dropna().copy()
df4.shape

(2824, 7)

## 4.3 Estudo do Espaço

In [56]:
#select data
cols_selected = ['gross_revenue', 'recency_days','qtde_products','frequency', 'qtde_returns']
df43 = df4[cols_selected].copy()

In [57]:
fs = s3fs.S3FileSystem(anon=False, key=key_id,secret=secret_access_key)

gross_revenue_scaler = pickle.load(fs.open('s3://insiders-dataset-ian/gross_revenue_scaler.pkl', 'rb'))
df43['gross_revenue'] = gross_revenue_scaler.transform(df43[['gross_revenue']])

recency_days_scaler = pickle.load(fs.open('s3://insiders-dataset-ian/recency_days_scaler.pkl', 'rb'))
df43['recency_days'] = recency_days_scaler.transform(df43[['recency_days']])

qtde_products_scaler = pickle.load(fs.open('s3://insiders-dataset-ian/qtde_products_scaler.pkl', 'rb'))
df43['qtde_products'] = qtde_products_scaler.transform(df43[['qtde_products']])

frequency_scaler = pickle.load(fs.open('s3://insiders-dataset-ian/frequency_scaler.pkl', 'rb'))
df43['frequency'] = frequency_scaler.transform(df43[['frequency']])

qtde_returns_scaler = pickle.load(fs.open('s3://insiders-dataset-ian/qtde_returns_scaler.pkl', 'rb'))
df43['qtde_returns'] = qtde_returns_scaler.transform(df43[['qtde_returns']])

In [58]:
#gross_revenue_scaler = pickle.load(open('src/gross_revenue_scaler.pkl', 'rb'))
#df43['gross_revenue'] = gross_revenue_scaler.transform(df43[['gross_revenue']])

#recency_days_scaler = pickle.load(open('src/recency_days_scaler.pkl', 'rb'))
#df43['recency_days'] = recency_days_scaler.transform(df43[['recency_days']])

#qtde_products_scaler = pickle.load(open('src/qtde_products_scaler.pkl', 'rb'))
#df43['qtde_products'] = qtde_products_scaler.transform(df43[['qtde_products']])

#frequency_scaler = pickle.load(open('src/frequency_scaler.pkl', 'rb'))
#df43['frequency'] = frequency_scaler.transform(df43[['frequency']])

#qtde_returns_scaler = pickle.load(open('src/qtde_returns_scaler.pkl', 'rb'))
#df43['qtde_returns'] = qtde_returns_scaler.transform(df43[['qtde_returns']])

### 4.3.4 Tree_Based Embedding

In [59]:
#training dataset
cols = ['gross_revenue']
X = df43.drop(cols,axis=1)
y = df43['gross_revenue']

In [60]:
#model definition
#rf_model = en.RandomForestRegressor(n_estimators = 100,random_state=42,n_jobs=-1)

#model traing
#rf_model.fit(X,y)

#load no modelo salvo
#rf_model = pickle.load(open('src/rf_model.pkl', 'rb'))
rf_model = pickle.load(fs.open('s3://insiders-dataset-ian/rf_model.pkl', 'rb'))

#Leaf
df_leaf = pd.DataFrame(rf_model.apply(X)) #Mostra a decisão de cada folha para cada cliente, mostrando a posição (index) da folha que cada costumer_id caiu naquela árvore

In [61]:
#Aplicando o redutor de dimensionalidade
#reducer = umap.UMAP(random_state = 42)

#load no modelo salvo
#reducer = pickle.load(open('src/reducer.pkl', 'rb'))
reducer = pickle.load(fs.open('s3://insiders-dataset-ian/reducer.pkl', 'rb'))
embedding = reducer.transform(df_leaf) #Projeção das 100 colunas em apenas duas

#embedding
df_tree = pd.DataFrame()
df_tree['embedding_x'] = embedding[:,0]
df_tree['embedding_y'] = embedding[:,1]

#plot UMAP
#sns.scatterplot(x='embedding_x', y='embedding_y',data=df_tree);

# <font color = "red"> 8.0 Model Training </font>

In [62]:
df8 = df_tree.copy()

## 8.1 K-Means

In [63]:
#k=8 #definido

#model definition
#gmm = mx.GaussianMixture(n_components=k,random_state=42,n_init=300)

#model training
#gmm.fit(df8)

#load no modelo salvo
#gmm = pickle.load(open('src/final_model.pkl', 'rb'))
gmm = pickle.load(fs.open('s3://insiders-dataset-ian/final_model.pkl', 'rb'))

#model predict
labels = gmm.predict(df8)

## 8.2 Cluster Validation

# <font color = "red"> 9.0 Cluster Analysis </font>

In [79]:
# Dicionário de mapeamento
mapeamento = {
    0: 'Less Money',
    1: 'More Products',
    2: 'Insiders',
    3: 'Spend Money',
    4: 'Even More Products',
    5: 'Big Recency',
    6: 'More Buy',
    7: 'Less 1.2k'
}

# Substituir os valores na array
labels_novos = np.vectorize(mapeamento.get)(labels)

In [80]:
df9_1 = df4[['customer_id', 'gross_revenue', 'recency_days','qtde_products','frequency', 'qtde_returns']].copy()
df9_1['cluster'] = labels_novos
df9_1['cluster_id'] = labels

df9_1['recency_days'] = df9_1['recency_days'].astype('int64')
df9_1['qtde_products'] = df9_1['qtde_products'].astype('int64')
df9_1['qtde_returns'] = df9_1['qtde_returns'].astype('int64')

## 9.4 Cluster Profile

In [81]:
#Number of customer
df_cluster = df9_1.loc[:,['customer_id','cluster']].groupby('cluster').count().reset_index()
df_cluster['perc_customer'] = round((df_cluster['customer_id'] / df_cluster['customer_id'].sum())*100,2)

#Avg Gross revenue
df_avg_gr = df9_1.loc[:,['gross_revenue','cluster']].groupby('cluster').mean().reset_index()
df_cluster = pd.merge(df_cluster, df_avg_gr,how='inner',on='cluster')

#Avg recency days
df_avg_rd = df9_1.loc[:,['recency_days','cluster']].groupby('cluster').mean().reset_index()
df_cluster = pd.merge(df_cluster, df_avg_rd,how='inner',on='cluster')

#Avg qtde_products
df_avg_in = df9_1.loc[:,['qtde_products','cluster']].groupby('cluster').mean().reset_index()
df_cluster = pd.merge(df_cluster, df_avg_in,how='inner',on='cluster')

#Avg frequency
df_avg_in = df9_1.loc[:,['frequency','cluster']].groupby('cluster').mean().reset_index()
df_cluster = pd.merge(df_cluster, df_avg_in,how='inner',on='cluster')

#Avg qtde_returns
df_avg_in = df9_1.loc[:,['qtde_returns','cluster']].groupby('cluster').mean().reset_index()
df_cluster = pd.merge(df_cluster, df_avg_in,how='inner',on='cluster')

df_cluster.sort_values('gross_revenue',ascending=False)

,cluster,customer_id,perc_customer,gross_revenue,recency_days,qtde_products,frequency,qtde_returns
2,Insiders,466,16.50,8859.361738,21.263948,425.401288,0.088629,145.798283
0,Big Recency,129,4.57,3873.696589,172.224806,58.534884,0.201086,14.395349
7,Spend Money,558,19.76,2589.631810,40.741935,137.575269,0.067247,19.302867
6,More Products,376,13.31,1792.138883,58.021277,83.890957,0.075187,27.207447
1,Even More Products,496,17.56,1160.718165,57.693548,56.445565,0.072309,3.102823
3,Less 1.2k,217,7.68,938.945484,101.023041,35.221198,0.086643,15.728111
4,Less Money,278,9.84,882.494532,81.726619,28.776978,0.128338,4.028777
5,More Buy,304,10.76,639.010855,46.565789,14.463816,0.073929,0.983553

# <font color = "red"> 11.0 Deploy do Production </font>

## 11.1 Insert into SQLITE

In [76]:
host = 'database-insiders.cty8eqciu42p.us-east-1.rds.amazonaws.com'
port = '5432'
database ='postgres'
user = 'ian'
pwd = '1234567!'

endpoint = f'postgresql://{user}:{pwd}@{host}:{port}/{database}'

In [77]:
#create table
#query_create_table_insiders = text("""
#CREATE TABLE insiders (
#  customer_id   INTEGER,
#  gross_revenue REAL,
#  recency_days  INTEGER,
#  qtde_products INTEGER,
#  frequency     REAL,
#  qtde_returns  INTEGER,
#  cluster       INTEGER
#)
#""")

# Criar a engine
#engine = create_engine(endpoint)

# Criar uma conexão
#conn = engine.connect()

# Executar a consulta
#conn.execute(query_create_table_insiders)

# Commit da transação
#conn.commit()

# Fechar a conexão
#conn.close()

In [78]:
# Criar a engine
engine = create_engine(endpoint)

# Criar uma conexão
conn = engine.connect()

df9_1.to_sql('insiders',con=conn,if_exists='replace',index=False)

conn.close()